Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.o
*.la
*.lo
src/bin/pgibbs-hmm
src/bin/pgibbs-ws
src/include/pgibbs/config.h
src/include/pgibbs/config.h.in
src/include/pgibbs/stamp-h1
src/test/test-pgibbs
